name: Test with Pre-commit

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # Update auf v4
      - uses: actions/setup-python@v5 # Update auf v5
        with:
          python-version: "3.11"
      
      # Die offizielle Action ersetzt die manuellen pip-Schritte
      - uses: pre-commit/action@v3.0.1
